{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    {% block title %}
    {% endblock title %}
    {% block css %}
    {% endblock css %}
    {% block js %}
    {% endblock js %}

</head>
<body>
    <header id="navbar">
        <nav id="topbar">
            <div id="image">
            <img src="{% static 'logo.webp' %}" alt="logo" id="logo">
            <a href="{% url 'CloneApp:main' %}"  id="logo1">Shryians coding school</a></div>
            <ul id="list">
                <li id=""><a href="{% url 'CloneApp:home' %}" target="_blank">Home</a></li>
                <li id=""><a href="{% url 'CloneApp:course' %}" target="_blank">Course</a></li>
                <li id=""><a href="{% url 'CloneApp:bootcamp' %}" target="_blank">Bootcamp</a></li>
                <li id=""><a href="{% url 'CloneApp:request' %}" target="_blank">Request Callback</a></li>
            </ul>
            <a href="{% url 'CloneApp:signin' %}" ><button id="signin">Signin</button></a>
        </nav>
    </header>
    {% block body %}
    {% endblock body %}
</body>
</html>